.alert-container .icon-alert {
  height: 14px;
  width: 13px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom-number-input input:focus {
  outline: none !important;
}

.custom-number-input button:focus {
  outline: none !important;
}

.body-modal {
  overflow: hidden;
}

.modal {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.14);
}

#dimScreen {
  position: fixed;
  padding: 0;
  margin: 0;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
}

/* .v-counter {
  border-radius: 32px;
  max-width: 89px;
  display: flex;
  justify-content: center;
  overflow: auto;
  padding: 0px 4px;
  border: 1px solid #323140;
  margin: 10px;
}

.v-counter input[type="button"]:hover {
  color: black;
  font-weight: bold;
  background-color: transparent;
}
.v-counter span {
  font-size: 13px;
  color: black;
  font-family: "Open Sans";
}
.v-counter input[type="button"],
input[type="text"] {
  display: inline-block;
  width: 30px;
  background-color: transparent;
  outline: none;
  border: none;
  text-align: center;
  cursor: pointer;
  padding: 0px;
  color: black;
  height: 33px;
  font-family: "Open Sans";
} */
